<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API Key</key>
	<string>sfZRFV075gIi9J35TXE6QgbfM</string>
	<key>API Secret</key>
	<string>x4YBVfdSQ8nPCiYvCe1MgnE9WFbSxpnjhBGRcqbynLEUuXYr18</string>
</dict>
</plist>
